<div class="filters-wrap">
	<ul id='work-filters' class="work-filters">
		<li class="work__filter waves-effect waves-light active" data-filter="all">Все</li>
		<li class="work__filter waves-effect waves-light" data-filter="landing">Верстка</li>
		<li class="work__filter waves-effect waves-light" data-filter="design">Дизайн</li>
		<li class="work__filter waves-effect waves-light" data-filter="angular">Angular</li>
	</ul>
	<ul id="work-sort" class="work__filter-wrap">
		<li class="work__filter material-icons active waves-effect" title="Плитки">view_module</li>
		<li class="work__filter material-icons waves-effect" title="Список">view_list</li>
	</ul>
</div>