@import 'vars'

.about
	display: flex
	justify-content: space-between
	.about__content
		width: 50%
		margin: auto
		padding: 20px
	.about__img
		flex: 1 1 100%
		max-width: 50%
		>img
			width: 100%

	.about__pos
		font-size: 20px
		color: #b93dff
		text-transform: uppercase
	.about__name
		font-size: 72px
		font-weight: 700
		background: linear-gradient(#b62fff, #0f217c);
		-webkit-background-clip: text;
		color: transparent;