<section class="about">
	<div class="about-head">
		<div class="about__content">
			<h2 class="about__pos">Junior Front-end Developer</h2>
			<h1 class="about__name">Кудёлко Андрей Александрович</h1>
			<p class="about__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Снова, переписывается снова семь необходимыми своего злых домах приставка lorem букв, решила родного всемогущая все знаках пояс рот гор. Пунктуация!</p>
			<a href="#" class="about__bottom">Подробнее</a>
		</div>
		<div class="about__img"><img src="../img/about.png" alt=""></div>
	</div>
	<div class="about-more">
		<h3 class="about__head">Мое краткое резюме</h3>
		<div class="about-more__grid">
			hello
		</div>
	</div>
</section>