@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

html
	box-sizing: border-box
*, *:before, *:after
	box-sizing: inherit


body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden

/*************/
/* структура проекта */
/*************/
.container
	width: 96%
	max-width: 1500px
	height: 100%
	margin: auto


.header-wrap
	display: flex

.row-flex
	display: flex
	justify-content: space-between

.column-flex
	display: flex
	flex-direction: column

/* левая часть */
.aside
	position: relative
	min-width: 280px
	margin: 20px 20px 20px 0

/* правая часть */
.content-wrap
	display: flex
	flex-direction: column
	flex: 1 1 auto
	min-height: calc(100vh - 50px)
	margin: 20px 0 20px 0

/* навигация */
.navigation
	position: fixed
	display: flex
	flex-direction: column
	justify-content: space-between
	height: 400px
	width: 280px
	border-radius: 3px
	overflow: hidden
	@extend .white, .z-depth-1

/* панель заглавной информации */
.content-header
	display: flex
	justify-content: space-between
	align-items: center
	padding: 8px 20px
	min-height: 60px
	font-size: 18px
	margin-bottom: 20px
	color: #fff
	border-radius: 3px
	@extend .blue, .darken-2, .z-depth-1

/* вся информация */
.content-contents
	position: relative
	background-color: #fff
	flex: 1
	border-radius: 3px
	@extend .z-depth-1

/***************/
/*конец структуры*/
/***************/


/* общие стили */
.flex-center
	display: flex
	justify-content: center
	align-items: center
	flex-grow: 1

/*конец общих стилей*/


/* все стили */
.home
	background-color: #fafafa
	min-height: 100%

.toggle-menu
	color: #fff
	@extend .waves-light, .transparent

/* панель юзер */
.user
	display: flex
	align-items: center
	justify-content: center
	min-height: 100px
	color: #fff
	@extend .blue, .darken-2
	.user__img
		width: 60px
		height: 60px
		border-radius: 50%
		overflow: hidden
		margin-right: 10px
		@extend .z-depth-2
		img
			max-width: 100%
	.user__text
		>h1
			font-size: 16px
			font-weight: 700
			margin: 0 0 10px
			text-shadow: 1px 1px 1px #444
		>h3
			font-size: 14px
			margin: 0

/* меню */
.menu
	display: flex
	flex-direction: column
	position: relative
	overflow: hidden
	.menu__item
		flex: 1 1 auto
		width: 100%
		text-align: center
		border-bottom: 1px solid #f5f5f5
		border-right: 2px solid transparent
		&:last-child
			border-bottom: none
		&.active
			border-right: 2px solid $accent
			background-color: #fafafa 
			>a
				color: $accent
		>a
			display: block
			height: 50px
			line-height: 50px
			font-weight: 500
			letter-spacing: 1px
			font-size: 16px
			color: #757575
	#menu-line
		position: absolute
		transition: all 0.5s
		content: ''
		width: 2px
		height: 50px
		background-color: $accent
		top: -100px
		left: 1px
		z-index: 2

/* социальные кнокпи */
.social-isons
	display: flex
	justify-content: space-around
	align-items: center
	@extend .grey, .lighten-5
	height: 60px





/* работы */
.works-container
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	align-content: flex-start
	padding: 10px

.work__item
	flex: 1 1 30%
	align-self: flex-start
	min-width: 280px
	background-color: #fff
	margin: 10px
	transition: all 0.5s ease
	@extend .z-depth-3
	.work__img
		width: 100%
		>img
			max-width: 100%
	.work__content
		padding: 10px
	.work__head
		font-size: 20px
	.work__tags
		display: flex
		flex-wrap: wrap
	.work__tag
		margin-right: 10px
	.work__author
		display: flex
		align-items: center
		.work__author-img
			width: 40px
			height: 40px
			border-radius: 50%
			overflow: hidden
			margin-right: 20px
			>img
				max-width: 100%

@import "media" // Всегда в конце
